<div class="col-md-8">
<% @posts.each do |post| %>
<h2><%= post.title %></h2>
<p><%= post.created_at %></p>
<p><%= truncate(post.body, :length => 50) %></p>
<%#= link_to '続きを読む', "/posts/#{post.id}", class="btn btn-default" %>
<%= link_to '続きを読む', "/posts/#{post.id}", :class => "btn btn-default" %>
<% end %>
</div>
